* {
  font-family: Rubik, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f1f5f9;
  text-align: center;
  height: 100vh;

  margin: 0;
}

h1 {
  font-size: 5rem;
}

.score {
  font-size: 6rem;
  margin: 4rem;
}

.status {
  font-style: italic;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 2rem;
  width: 300px;
  padding: 16px;

  color: #eff6ff;
  background-color: #1d4ed8;
  border: none;
  border-radius: 12px;

  margin: 12px;
}

button:enabled:hover {
  background-color: #1e40af;
}

button:enabled:active {
  background-color: #1e3a8a;
  transform: translateY(4px);
}

button:disabled {
  color: #f1f5f9;
  background-color: #cbd5e1;
}

button#btnRestart {
  background-color: #65a30d;
}

button#btnRestart:hover {
  background-color: #4d7c0f;
}

button#btnRestart:active {
  background-color: #3f6212;
  transform: translateY(4px);
}